/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define HYP LS(LC(LA))


/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
            //╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
            //| TAB       | Q         | W         | E         | R         | T         |   | Y        | U         | I         | O         | P         | BKSP      |
                &kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T           &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSPC
            //├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
            //| SHIFT(ESC)| A         | S         | D         | F         | G         |   | H        | J         | K         | L         | ;        | '          |
                &mt LSHFT ESC &kp A     &kp S       &kp D      &kp F       &kp G           &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT
            //├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   
            //| CTRL      | Z         | X         | C         | V         | B         |   | N        | M         | ,         | .         | /         | DEL       |
                &kp LCTRL   &kp Z       &kp X       &kp C       &kp V       &kp B           &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH   &kp DEL
            //╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
            //                                    | GUI       | LWR       | SPC       |   | ENT       | RSE      | ALT       |
                                                    &kp LGUI    &mo 1       &mt HYP SPACE   &kp RET     &mo 2      &kp RALT
            //                                    ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
                >;
            };
            
        lower_layer {
            bindings = <
            //╭──────────────┬──────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬──────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            //| TAB         | 1          | 2          | 3          | 4          | 5          |   | 6          | 7          | 8          | 9          | 0          | BKSP       |
                &kp TAB       &kp N1       &kp N2       &kp N3       &kp N4       &kp N5           &kp N6       &kp N7       &kp N8       &kp N9       &kp N0       &kp BSPC
            //├──────────────┬──────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬──────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
            //| SHIFT(ESC)  |            | ^          | -          | +          | =          |   | LEFT       | DOWN       | UP         | RIGHT      |            |            |
                &mt LSHFT ESC &trans       &kp CARET     &kp MINUS    &kp PLUS     &kp EQUAL       &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT    &trans       &trans
            //├──────────────┬──────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬──────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   
            //| CTRL        |             | %         | /          | *          | _          |   | HOME       | PAGE DN    | PAGE UP    | END        |            |            |
                &kp LCTRL     &trans        &kp PRCNT   &kp FSLH     &kp STAR     &kp UNDER        &kp HOME     &kp PG_DN    &kp PG_UP    &kp END      &trans       &trans
            //╰──────────────┴──────────────┴─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬──────────────┬─────────────┬─────────────┴─────────────┴─────────────╯
            //                                        | GUI        |            | SPC        |   | ENT        |            | ALT        |
                                                        &trans      &trans        &trans           &trans      &trans        &trans
            //                                        ╰─────────────┴─────────────┴─────────────╯   ╰──────────────┴─────────────┴─────────────╯
                >;
            };



        raise_layer {
            bindings = <
            //╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
            //| TAB       | !         | @         | #         | $        | %          |  |  [        | ]         | lt        | gt        |           | BKSP     |
                &kp  TAB    &kp EXCL    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT       &kp LBKT    &kp RBKT    &kp LT     &kp GT      &trans      &kp BSPC
            //├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼───────────┤
            //| SHIFT(ESC)| `         |           |           | ~         | &         |  | (         | )         |           |           |           | `        |
                &mt LSHFT ESC &kp GRAVE &trans      &trans      &kp TILDE   &kp AMPS        &kp LPAR    &kp RPAR   &trans      &trans      &trans      &trans
            //├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼───────────┤   
            //| CTRL      |           |           |           | \         | '|'       |  | {         | }         |           |           |           |          |
                &kp LCTRL   &trans      &trans      &trans      &kp BSLH     &kp PIPE      &kp LBRC    &kp RBRC    &trans      &trans      &trans      &kp TILDE
            //╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┴────────────┴───────────╯
            //                                    | GUI       |          | SPC        |  | ENT       |           | ALT       |
                                                    &trans      &trans     &trans          &trans      &trans      &trans
            //                                    ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
                >;
            };

        tri_layer {
            bindings = <
            //╭─────────────┬──────────────┬─────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
            //| TAB        |            |            |           |           |           |   |           |           |           |           |           | BKSP      |
                &kp  TAB    &trans        &kp C_AL_WWW &trans      &trans      &trans          &trans      &trans      &trans      &trans      &trans      &kp BSPC
            //├─────────────┼──────────────┼─────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
            //| BT CLR     | BT1        | BT2        | BT3       | BT4       | BT5       |   | PREV      | VOL DN    | VOL UP    | Next      | Play      |           |
                &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &kp C_PREV  &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT &kp C_PP  &trans
            //├─────────────┼──────────────┼─────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   
            //| SHFT       |            |            |           |           |           |   |           |           |           |           |           |           |
                &kp LCTRL   &trans       &trans        &trans      &trans      &trans          &trans      &trans      &trans      &trans      &trans      &trans
            //╰─────────────┴──────────────┴─────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
            //                                       | GUI       |           | SPC       |   | ENT       |           | ALT       |
                                                       &trans      &trans      &trans          &trans      &trans      &trans
            //                                       ╰────────────┴────────────┴────────────╯   ╰─────────────┴────────────┴────────────╯
                >;
            };
        };
    };
